@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
   --font-roboto: 'Roboto', sans-serif;
   --color-01: #ffe031;
   --color-02: #0d0d0d;
   --color-03: #f24a48;
   --color-04: #323737;
   font-size: 62.5%;
}

* {
   font-family: var(--font-roboto);
   list-style: none;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   background-color: var(--color-04);
   max-width: 100vw;
   height: 100vh;
}

/* colors pokemons types */
.steel {
   background-color: hsl(191, 31%, 49%);
}
.water {
   background-color: hsl(206, 67%, 60%);
}
.dragon {
   background-color: hsl(206, 90%, 41%);
}
.electric {
   background-color: hsl(57, 91%, 64%);
}
.fairy {
   background-color: hsl(303, 90%, 85%);
}
.ghost {
   background-color: hsl(227, 65%, 85%);
}
.fire {
   background-color: hsl(359, 100%, 69%);
}
.ice {
   background-color: hsl(170, 49%, 66%);
}
.bug {
   background-color: hsl(77, 46%, 71%);
}
.fighting {
   background-color: hsl(355, 56%, 41%);
}
.normal {
   background-color: hsl(0, 8%, 90%);
}
.rock {
   background-color: hsl(49, 39%, 68%);
}
.grass {
   background-color: hsl(168.14,77.97%,44.51%);
}
.psychic {
   background-color: hsl(2, 80%, 71%);
}
.dark {
   background-color: hsl(232, 7%, 41%);
}
.ground {
   background-color: hsl(38, 74%, 53%);
}
.poison {
   background-color: hsl(285, 68%, 47%);
}
.flying {
   background-color: hsl(221, 33%, 81%);
}
/* ********************** */

.content .title {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 1.5rem;
   padding: 1rem;
   height: 6rem;
   background-color: var(--color-03);
}

.content .title .title-img:nth-child(1) {
   width: 40%;
   max-width: 12rem;
}

.content .title .title-img:nth-child(2) {
   max-width: 6rem;
}

.pokemons {
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 1rem;
}

.pokemon {
   display: flex;
   flex-direction: column;
   margin: 0.5rem;
   height: 24rem;
   font-weight: bold;
   color: var(--color-04);
   border-radius: 0.7rem;
}

.pokemon .number {
   padding: 0.5rem;
   text-align: right;
   font-size: 1rem;
   font-weight: bold;
}

.pokemon .name {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   text-transform: uppercase;
   padding: 0.4rem;
   filter: brightness(1.2);
}

.pokemon .detail {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-end;
   /* background-color: #f300d6; */
   max-height: 16rem;
   height: 16rem;
   padding: 0.5rem;
}

.pokemon .detail .type {
   width: 7rem;
   filter: brightness(1.2);
   /* filter: saturate(2.5); */
   text-align: center;
   font-size: 0.9rem;
   padding: 0.2rem 1rem;
   margin: 0.3rem;
   border-radius: 1rem;
}

.pokemon .detail img {
   max-width: 100%;
   max-height: 90%;
}

.content .load {
   display: flex;
   justify-content: center;
   padding: 1.5rem;
}

.content .load button {
   background-color: var(--color-03);
   color: var(--color-02);
   font-size: 2rem;
   padding: 1rem 2.5rem;
   border: none;
   border-radius: 0.3rem;
   transition: 0.3s;
}

.content .load button:hover {
   padding: 0.9rem 2.3rem;
   filter: brightness(1.05);
}
/* ============== */
