/* @media screen and (max-width: ***) and (min-width: ***) */

@media screen and (min-width: 300px) and (max-width: 400px) {
   .pokemons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .pokemon {
      width: 100%;
      height: 12rem;
   }

   .pokemon .name {
      font-size: 1.2rem;
   }

   .pokemon .detail {
      max-height: 8rem;
   }

   .pokemon .detail .type {
      font-size: 1.2rem;
      padding: 0.3rem 2rem;
   }

   .pokemon .detail img {
      max-height: 6rem;
   }
}

@media screen and (min-width: 401px) and (max-width: 500px) {
   .pokemon .name {
      font-size: 1rem;
   }

   .pokemon {
      height: 12rem;
   }

   .pokemon .detail {
      max-height: 7rem;
   }

   .pokemon .detail .type {
      font-size: 1rem;
      padding: 0.3rem 2rem;
   }

   .pokemon .detail img {
      max-height: 80%;
   }
}

@media screen and (min-width: 501px) and (max-width: 720px) {
   .pokemon .name {
      font-size: 1rem;
   }

   .pokemon {
      height: 10rem;
   }

   .pokemon .detail {
      height: 9rem;
   }

   .pokemon .detail .type {
      font-size: 1rem;
   }

   .pokemon.detail img {
      max-height: 100%;
   }
}

@media screen and (min-width: 501px) and (max-width: 720px) {
   .pokemons {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 1rem;
   }

   /* .pokemon .name {
      font-size: 1.2rem;
   } */

   .pokemon .detail {
      max-height: 5rem;
   }

   /* .pokemon .detail .type {
      font-size: 1.2rem;
      padding: 0.3rem 2rem;
   } */

   .pokemon .detail img {
      max-height: 80%;
   }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
   .pokemons {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 1rem;
   }

   /* .pokemon .name {
      font-size: 1.2rem;
   } */

   .pokemon .detail {
      max-height: 5.5rem;
   }

   /* .pokemon .detail .type {
      font-size: 1.2rem;
      padding: 0.3rem 2rem;
   } */

   .pokemon .detail img {
      max-height: 80%;
   }
}

@media screen and (min-width: 1025px) and (max-width: 1400px) {
   .pokemons {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 3rem;
   }

   .pokemon .name {
      font-size: 1.8rem;
   }

   .pokemon .number,
   .pokemon .detail .types .type {
      font-size: 1.8rem;
   }

   .pokemon .detail {
      max-height: 16rem;
   }

   .pokemon .detail img {
      max-height: 75%;
   }
}

@media screen and (min-width: 1401px) {
   .pokemons {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 3rem;
   }

   .pokemon .name,
   .pokemon .number,
   .pokemon .detail .types .type {
      font-size: 2rem;
   }

   .pokemon .detail {
      max-height: 18rem;
   }

   .pokemon .detail img {
      max-height: 75%;
   }
}
