/* @media screen and (max-width: ***) and (min-width: ***) */

@media screen and (min-width: 327px) and (max-width: 380px) {
   .content {
      max-width: 90vw;
      margin: 1.5rem auto;
      border-radius: 0.5rem;
   }

   .pokemons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .pokemon .name {
      font-size: 1.2rem;
   }

   .pokemon {
      width: 100%;
   }

   .pokemon .detail {
      max-height: 6rem;
   }

   .pokemon .detail .type {
      font-size: 1.2rem;
      padding: 0.3rem 2rem;
   }

   .pokemon .detail img {
      max-width: 100%;
      max-height: 6rem;
   }
}

@media screen and (min-width: 381px) and (max-width: 420px) {
   .pokemon .name {
      font-size: 1.2rem;
   }

   .pokemon .detail {
      max-height: 5rem;
   }

   .pokemon .detail .type {
      font-size: 1.2rem;
      padding: 0.3rem 2rem;
   }

   .pokemon .detail img {
      max-width: 100%;
      max-height: 80%;
   }
}

@media screen and (min-width: 421px) and (max-width: 500px) {
   .pokemon .name {
      font-size: 1.2rem;
   }

   .pokemon .detail {
      max-height: 5rem;
   }

   .pokemon .detail .type {
      font-size: 1.2rem;
      padding: 0.3rem 2rem;
   }

   .pokemon.detail img {
      max-height: 20%;
   }
}

@media screen and (min-width: 501px) and (max-width: 720px) {
   .pokemons {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 1rem;
   }

   /* .pokemon .name {
      font-size: 1.2rem;
   } */

   .pokemon .detail {
      max-height: 5rem;
   }

   /* .pokemon .detail .type {
      font-size: 1.2rem;
      padding: 0.3rem 2rem;
   } */

   .pokemon .detail img {
      max-width: 100%;
      max-height: 80%;
   }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
   
   .pokemons {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 1rem;
   }

   /* .pokemon .name {
      font-size: 1.2rem;
   } */

   .pokemon .detail {
      max-height: 5.5rem;
   }

   /* .pokemon .detail .type {
      font-size: 1.2rem;
      padding: 0.3rem 2rem;
   } */

   .pokemon .detail img {
      max-width: 100%;
      max-height: 80%;
   }
}

@media screen and (min-width: 1025px) and (max-width: 1400px) {
   
   .pokemons {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 3rem;
   }

   .pokemon .name {
      font-size: 1.8rem;
   }

   .pokemon .number,
   .pokemon .detail .types .type{
      font-size: 1.8rem;
   }
   
   .pokemon .detail {
      max-height: 16rem;
   }


   .pokemon .detail img {
      max-width: 100%;
      max-height: 75%;
   }
}

@media screen and (min-width: 1401px) {
   
   .pokemons {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 3rem;
   }

   .pokemon .name,
   .pokemon .number,
   .pokemon .detail .types .type{
      font-size: 2rem;
   }
   
   .pokemon .detail {
      max-height: 18rem;
   }

   .pokemon .detail img {
      max-width: 100%;
      max-height: 75%;
   }
}