@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
   --font-roboto: 'Roboto', sans-serif;
   --font-color-01: #2c2d2f;
   --font-color-02: #316f63;
   --font-color-03: #ef5350;
   --color-01: #58ceb6;
   --color-02: #313434;
   --color-03: #8de2d1;
   --color-04: #e7edef;

   font-size: 62.5%;
}

* {
   font-family: var(--font-roboto);
   list-style: none;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   background-color: var(--font-color-01);
   max-width: 100vw;
   height: 100vh;
}

.content {
   /* padding: 1.5rem; */
}

.content .title {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 1.5rem;
   /* margin-top: -1.5rem; */
   padding: 1rem;
   background-color: var(--font-color-03);
}

/* .content .title .title-h1 {
   font-size: 2.5rem;
   color: var(--font-color-03);
   text-transform: uppercase;
} */

.content .title .title-img:nth-child(1) {
width: 10rem;
}

.content .title .title-img:nth-child(2) {
   width: 6rem;
}

.pokemons {
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 1rem;
}

.pokemon {
   display: flex;
   flex-direction: column;
   padding: 1rem;
   margin: 0.5rem;
   font-weight: bold;
   color: var(--font-color-01);
   background-color: var(--color-01);
   border-radius: 2rem;
}

.type,
.name {
   margin-block: 0.3rem;
   /* background-color: var(--font-color-01); */
}

.pokemon .number {
   color: var(--font-color-02);
   text-align: right;
   font-size: 1rem;
   font-weight: bold;
}

.pokemon .name {
   color: var(--font-color-01);
   font-weight: bold;
   font-size: 1rem;
   text-transform: uppercase;
}

.pokemon .detail {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   max-height: 8rem;
}

.pokemon .detail .type {
   text-align: center;
   background-color: var(--color-03);
   font-size: 0.9rem;
   padding: 0.2rem 0.8rem;
   border-radius: 15% 15% 15% 15% / 45% 45% 45% 45%;
}

.pokemon .detail img {
   max-width: 100%;
   max-height: 85%;
}

/* ============== */
/* @media screen and (max-width: ***) and (min-width: ***) */

@media screen and (max-width: 327px) {
   .content {
      max-width: 90vw;
      margin: 1.5rem auto;
      background-color: #fff;
      border-radius: 0.5rem;
   }

   .pokemons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .pokemon {
      width: 100%;
   }

   .pokemon .detail img {
      max-width: 100%;
      height: 6rem;
   }
}

@media screen and (min-width: 450px) {
   .content {
      max-width: 97vw;
      margin: 2rem auto;
      background-color: var(--color-04);
      border-radius: 0.5rem;
   }
   .pokemons {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
   }
}

@media screen and (min-width: 600px) {
   .content {
      max-width: 95vw;
      margin: 2rem auto;
   }
   .pokemons {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }
}

@media screen and (min-width: 800px) {
   .content {
      max-width: 77vw;
      margin: 2rem auto;
   }
   .pokemons {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }
}

/* configurar */

@media screen and (min-width: 1000px) {
   .content {
      max-width: 65vw;
      margin: 2rem auto;
   }
   .pokemons {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }

   .pokemon .name {
      font-size: 1.3rem;
   }

   .pokemon .detail .type {
      font-size: 1.1rem;
   }
}
