@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
   --font-roboto: 'Roboto', sans-serif;
   --font-color-01: #1e1f20;
   --font-color-02: #346063;
   --color-01: #76e4e9;
   --color-02: #313434;
   --color-03: #b5f3e6;
   --color-04: #f24a48;
   font-size: 62.5%;
}

* {
   font-family: var(--font-roboto);
   list-style: none;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   background-color: var(--font-color-01);
   max-width: 100vw;
   height: 100vh;
}

/* colors pokemons types */
.steel {
   background-color: hsl(191, 31%, 49%);
}
.water {
   background-color: hsl(206, 67%, 60%);
}
.dragon {
   background-color: hsl(206, 90%, 41%);
}
.electric {
   background-color: hsl(57, 91%, 64%);
}
.fairy {
   background-color: hsl(304, 70%, 76%);
}
.ghost {
   background-color: hsl(227, 65%, 85%);
}
.fire {
   background-color: hsl(31, 89%, 64%);
}
.ice {
   background-color: hsl(170, 49%, 66%);
}
.bug {
   background-color: hsl(77, 100%, 57%);
}
.fighting {
   background-color: hsl(355, 56%, 41%);
}
.normal {
   background-color: hsl(0, 0%, 89%);
}
.rock {
   background-color: hsl(49, 39%, 68%);
}
.grass {
   background-color: hsl(123, 85%, 63%);
}
.psychic {
   background-color: hsl(2, 80%, 71%);
}
.dark {
   background-color: hsl(232, 7%, 41%);
}
.ground {
   background-color: hsl(23, 62%, 59%);
}
.poison {
   background-color: hsl(287, 51%, 59%);
}
.flying {
   background-color: hsl(222, 66%, 77%);
}
/* ********************** */

.content .title {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 1.5rem;
   padding: 1.5rem;
   height: 9rem;
   background-color: var(--color-04);
}

.content .title .title-img:nth-child(1) {
   width: 15rem;
}

.content .title .title-img:nth-child(2) {
   width: 8rem;
}

.pokemons {
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 1rem;
}

.pokemon {
   display: flex;
   flex-direction: column;
   /* padding: 1rem; */
   margin: 0.5rem;
   font-weight: bold;
   color: var(--font-color-01);
   /* background-color: var(--color-01); */
   border-radius: 0.7rem;
   /* overflow: hidden; */
}

.pokemon .number {
   padding: 0.5rem;
   color: var(--font-color-01);
   text-align: right;
   font-size: 1.5rem;
   font-weight: bold;
}

.pokemon .name {
   filter: brightness(1.2);
   color: var(--font-color-01);
   font-weight: bold;
   font-size: 1rem;
   text-transform: uppercase;
   display: flex;
   justify-content: center;
   align-items: center;
}

.pokemon .detail {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   max-height: 8rem;
   padding: 0.5rem;
}

.pokemon .detail .type {
   filter: brightness(1.2);
   /* background-color: #346063; */
   text-align: center;
   font-size: 1.2rem;
   font-weight: bold;
   padding: 0.2rem 0.8rem;
   margin: 0.3rem;
   border-radius: 15% 15% 15% 15% / 45% 45% 45% 45%;
}

.pokemon .detail img {
   max-width: 100%;
   max-height: 90%;
}

/* ============== */
